<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <th class="text-center">S.No</th>
                  <th class="text-center">Employee Name</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Contact No</th>
                  <th class="text-center">State</th>
                  <th class="text-center">City</th>
                  <th class="text-center">Pincode</th>
                  <th class="text-center">Address</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.emailId}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.pincode}}</td>
                  <td>{{item.address}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                    <button type="button" class="btn btn-danger my-2 mx-2"
                      (click)="onDelete(item.empId)">Delete</button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-12">
              <label for="">Employee Name</label>
              <input type="text" formControlName="name" class="form-control" />
              <div class="text-danger">
                @if((employeeForm.controls['name'].touched || employeeForm.controls['name'].dirty) &&
                employeeForm.controls['name'].errors?.['required']) {
                <span>Employee Name is required</span>
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">Email</label>
              <input type="text" formControlName="emailId" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">Contact No</label>
              <input type="text" formControlName="contactNo" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input type="text" formControlName="state" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input type="text" formControlName="city" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">Pincode</label>
              <input type="text" formControlName="pincode" class="form-control" />
            </div>
            <div class="col-12">
              <label for="">Address</label>
              <textarea class="form-control" formControlName="address"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary" type="button" (click)="reset()">Reset</button>
            </div>
            <div class="col-6 text-center">
              @if(employeeForm.controls['empId'].value == '1') {
              <button type="button" class="btn btn-success" [disabled]="employeeForm.invalid" (click)="onSave()">Save
                Employee</button>
              }@else {
              <button type="button" class="btn btn-warning" [disabled]="employeeForm.invalid"
                (click)="onUpdate()">Update
                Employee</button>
              }

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<router-outlet />